*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  color: white;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: rgb(199, 199, 199);
}
#calculator-body {
  width: 400px;
  height: 600px;
  border: rgb(41, 41, 41) 3px solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  background: transparent;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(110, 64, 77, 0.5), rgba(84, 70, 95, 0.5), rgba(42, 72, 99, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

#display {
  width: calc(100% - 0.5rem);
  height: 9rem;
  border: rgb(41, 41, 41) 3px solid;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  background-color: #564c5f;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  justify-items: end;
  padding: 0 0.5rem;
  font-size: 1.75rem;
  overflow-x: hidden;
}

#last-calculation {
  font-size: 1.25rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.controls > button {
  height: 3rem;
  flex: 1;
  margin: 1rem 0.25rem;
  border: rgb(41, 41, 41) 3px solid;
  border-radius: 0.5rem;
  font-size: inherit;
  color: inherit;
  background-color: #564c5f;
}

#clear {
  background-color: #804040;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100%;
}

.num {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  grid-row: 1 / 5;
  display: grid;
}

.btn {
  margin: 0.25rem;
  border: rgb(41, 41, 41) 3px solid;
  background-color: #564c5f;
  color: inherit;
  border-radius: 0.5rem;
  font-size: inherit;
}

footer {
  text-align: center;
}

footer a {
  font-family: Courier;
  text-decoration: none;
  color: inherit;
}